<div class="row">
    <div class=".col-sm-12 .col-md-12 .col-lg-12">
        <p>right= {{isSubmittedIncorrectly}}</p>
        <p *ngFor="let options of options; let i = index">
            <label [ngClass]="{
                'right':isSubmittedIncorrectly ,
                'wrong': isSubmittedIncorrectly && getSelectedOption() == options.id
                
              }"><input type="radio" name="optionList" [checked]="options.id === primarySelectedOption" [value]="options.id+1" (change)="onOptionSelected(i+1)">{{options.name}}</label>
        </p>
    </div>

</div>